/* navbar.css */
body{
    color:white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #dae3ed;
  font-family: 'Georgia';
  white-space: nowrap;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #a6c5e6;
}

@media screen and (max-width: 768px) {
  .nav-links {
    gap: 1rem;
    font-size: 0.9rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    font-size: 1.2rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 0.5rem;
  }
}
